<!--The content below is only a placeholder and can be replaced.-->
<div class="nav">
  <button *ngIf="recipes[0]" (click)="numberPressed(0)">{{ recipes[0].name }}</button>
  <button *ngIf="recipes[1]" (click)="numberPressed(1)">{{ recipes[1].name }}</button>
  <button *ngIf="recipes[2]" (click)="numberPressed(2)">{{ recipes[2].name }}</button>
</div>

<div class="container">
  <form #f="ngForm">
    <div class="item">
      <label for="">Id:</label>
      <label for="">{{ recipes[recipeNumber].id }}</label>
    </div>
    <div class="item">
      <label for="">Name: </label>
      <input type="text" name="name" [(ngModel)]="recipes[recipeNumber].name">
    </div>
    <div class="item">
      <label for="">Description: </label>
      <input type="text" name="desciption" [(ngModel)]="recipes[recipeNumber].description">
    </div>
    <div class="item">
      <label for="">Picture: </label>
      <label for="">{{ recipes[recipeNumber].picture }}</label>
    </div>
    <br>
    <div *ngFor="let i of recipes[recipeNumber].ingridients; let x = index" class="item-ingridients">
      <label for="">Ingridient: </label>
      <label for="">id: </label>
      <label for="">{{ i.id }}</label>
      <label for="">name: </label>
      <input type="text" name="ingridientName{{x}}" [(ngModel)]="i.name">
      <label for="">amount: </label>
      <input type="text" name="amount{{x}}" [(ngModel)]="i.amount">
      <label for="">unit: </label>
      <input type="text" name="unit{{x}}" [(ngModel)]="i.unit">
    </div>
    <br>
    <div *ngFor="let i of recipes[recipeNumber].steps; let x = index" class="item-steps">
      <label for="">Step: </label>
      <label for="">{{ i.id }}</label>
      <label for="">description: </label>
      <input type="text" name="name{{x}}" [(ngModel)]="i.description">
    </div>
    <br>
    <div *ngFor="let i of recipes[recipeNumber].tools.primary; let x = index" class="item-ingridients">
      PRIMARY
      <label for="">Tool: </label>
      <label for="">id: </label>
      <label for="">{{ i.id }}</label>
      <label for="">description: </label>
      <input type="text" name="description{{x}}" [(ngModel)]="i.description" >
    </div>
    <div *ngFor="let i of recipes[recipeNumber].tools.secondary" class="item-ingridients">
        SECONDARY
        <label for="">Tool: </label>
        <label for="">id: </label>
        <label for="">{{ i.id }}</label>
        <label for="">description: </label>
        <input type="text" name="description{{x}}" [(ngModel)]="i.description" >
      </div>
    <div class="item">
        <label for="">isPublic: </label>
        <label for="">{{ recipes[recipeNumber].isPublic }}</label>
    </div>
    <button (click)="deletedPressed()">Delete</button>
    <button (click)="savePressed()">Save</button>
  </form>
</div>

